.img00 {
    color: #4285f4;
    font-family: roboto-regular, arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    min-width: 272px;
    width: 15%;
    margin: 0 auto;
}

span {
    position: relative;
    right: 4px;
    bottom: 15px;
    float: right;
}

.srb00 {
    display:none;
}